// 가운데 정렬
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
// 양쪽 정렬
@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// 중앙 정렬
@mixin position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}   

@keyframes bgMove {
    0% {background-position: left;}
    100% {background-position: right;}
}

@keyframes spin{
    0% {
        --rotate: 0deg;
      }
      100% {
        --rotate: 360deg;
      }
}

@keyframes move{
  0% {
    transform: translate(-50%,0px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%,40px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%,60px);
    opacity: 0;
  }
}

@keyframes opa{
  0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}