@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');

[class*="__inner"]{
    max-width: 1480px;
    margin:0 auto;
}

// #main{
//     height: 100vh;
//     background-color: #EEE6D9;
//     background-color: #fffefb;
//     background: -moz-linear-gradient(0deg, rgba(255,254,251,1) 0%, rgba(233,223,207,1) 100%);
//     background: -webkit-linear-gradient(0deg, rgba(255,254,251,1) 0%, rgba(233,223,207,1) 100%);
//     background: linear-gradient(0deg, rgba(255,254,251,1) 0%, rgba(233,223,207,1) 100%);
//     position: relative;
//     padding-top: 56px;

//     &:after{
//         width: 100%;
//         height: 600px;
//         background-image: url('../images/bg1.png');
//         content:"";
//         display: inline-block;
//         position: absolute;
//         left:0;
//         bottom:0;
//         animation: bgMove 150s linear infinite;
//     }
// }

// intro
.intro {
    height: 100%; padding-top: 100px;
    height: 100vh;
    background-color: #EEE6D9;
    background-color: #fffefb;
    background: -moz-linear-gradient(0deg, rgba(255,254,251,1) 0%, rgba(233,223,207,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,254,251,1) 0%, rgba(233,223,207,1) 100%);
    background: linear-gradient(0deg, rgba(255,254,251,1) 0%, rgba(233,223,207,1) 100%);
    position: relative;
    padding-top: 56px;

    &:after{
        width: 100%;
        height: 600px;
        background-image: url('../images/bg1.png');
        content:"";
        display: inline-block;
        position: absolute;
        left:0;
        bottom:0;
        animation: bgMove 150s linear infinite;
    }
}
.intro .welcome_tit{
    max-width: 500px;
    width: 100%;
    height:80px;
    margin:0 auto 100px;
    position:relative;
    text-align:center;
    filter: url(#threshold) blur(0.6px);

    span{
        display: inline-block;
        width:100%; 
        position:absolute;
        left:0;
        top:0;
        font-family: 'DynaPuff', cursive;
        font-size: 80px;
        font-weight:700;
        text-align:center;
        text-transform: uppercase;
        color:#ec9325;
        letter-spacing: 0.12em;
    }
}

.intro .my_info{
    height:255px;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:70px;
    .pfp{
        width:250px;
        position: relative;       
        transition:all 0.3s 1.3s;

        img{
            position: relative;
            z-index: 1;
            background-color: rgba(233,223,207,0.8);
        }

        &::before{
            content:'';
            display: block;
            position:absolute;
            top: -45px;
            left: -48px;
            height: 140%;
            width: 140%;
            margin: 0 auto;
            transform: scale(0.7);
            filter: blur(30px);
            background-image: linear-gradient(
              var(--rotate)
              , #fffbed, #f6d365 43%, #fda085);
              opacity: 1;
            transition: opacity .5s;
            animation: spin 4s linear infinite;
        }

        &::after{
            content:'';
            display: block;
            width: 104%;
            height: 102%;
            border-radius: 8px;
            background-image: linear-gradient(var(--rotate),#fffbed, #f6d365 43%, #fda085);
            position: absolute;
            top: -1%;    
            left: -2%;
            animation: spin 4s linear infinite;
        }
    }
}


.intro .my_info .pfp .line{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;

    &::before,
    &::after{
        display:inline-block;
        content:'';
        position:absolute;
        transition:all 0.3s;
        box-shadow: -1px 8px 21px 1px rgba(237,209,187,1);
        -webkit-box-shadow: -1px 8px 21px 1px #edd1bb;
        -moz-box-shadow: -1px 8px 21px 1px rgba(237,209,187,1);
    }
}

.intro .my_info .pfp .l1::before{
    width:0%; height:2px; top:0; left:0;
    background: rgb(207,179,152);
    transition-delay : 0.2s;
}
.intro .my_info .pfp .l1::after{
    width:2px; height:0%; top:0; right:0;
    background: #cfb398;
    transition-delay : 0.6s;
}
.intro .my_info .pfp .l2::before{
    width:0%; height:2px; bottom:0; right:0;
    background: rgb(207,179,152);
    transition-delay : 0.9s;
}
.intro .my_info .pfp .l2::after{
    width:2px; height:0%; bottom:0; left:0;
    background: rgb(207,179,152);
    transition-delay : 1.2s;
}
/*  on */
.intro.on .my_info .pfp{background-color:rgba(242, 236, 225,0.2);}
.intro.on .my_info .pfp .l1::before{
    width:100%;
}
.intro.on .my_info .pfp .l1::after{
     height:100%;
}
.intro.on .my_info .pfp .l2::before{
    width:100%;
}
.intro.on .my_info .pfp .l2::after{
    height:100%;
}

.intro .my_info_all{
    height:100%;
    padding:10px;

    > ul{
        height:100%;
        display:flex;
        align-items: flex-start;
        gap:40px;

        .info {
            h3{margin-bottom:20px; font-size:20px;}

            ul {
                li{
                    display: flex;
                    padding:3px 0;
                    font-size:14px;

                    p:nth-child(1){font-weight: 700;}
                }
            } 

            &.profile{
                .tit{width:80px;}
            }
            &.skills{
                p:nth-child(1){width:120px;}
    
                .level{
                    span{
                        display: inline-block; width:45px; height:6px; border-radius: 20px; text-align: center; margin-right:5px;}
                    .fill{background-color:#edb470;}
                    .empty{background-color:#ead0b1;}
                }
            }
        }
        
    }
}


.intro .scroll_down{
    display: flex;

    div{
        width:100px;
        margin:180px auto 0;

        .mouse{
            width:45px;
            height:80px;
            margin: 0 auto;
            border:2px solid #fff;
            border-radius: 50px;
            position:relative;
            padding:5px;
            box-sizing: border-box;
            box-shadow: 2px 2px 3px rgba(255,255,255,0.6);
            overflow: hidden;

            span{display: inline-block; width:10px; height:10px; border-radius: 50%; background-color:#fff; position: absolute; left:50%; transform: translateX(-50%); animation: move 2s linear infinite;}
        }

        .txt{text-align: center; font-size:1em; padding-top:10px; color:#fff; font-weight: 700;}
    }
}

.work_content{
    .content__inner{
        position: relative;

        &::before{
            content:'';
            display: inline-block;
            width: 0%;
            height: 100%;
            position: absolute;
            left:0;
            top:0;
            border-radius: 20px;
            background-color: rgba(239, 232, 219,0.8);
            opacity: 0;
            z-index: -1;
            transition: all 1s;
        }
        &:hover{
            transform: scale(1.01);
        }
        &:hover::before{
            width: 100%; opacity: 1
        }
    }

    .title_all{
        width: 24%;
        font-size:18px;

        .slide_num{font-size:2.0rem; font-weight: 700; color:#EC9322; padding-bottom: 10px;}
        h3{font-size:1.5rem; padding-bottom:3rem;}
        .sub_tit{padding-bottom:1rem;}
        .desc{padding-bottom:3rem;}
        .viewMore{
            display: inline-block;
            padding:0.8rem 2rem;
            border:1px solid #EC9322;
            border-radius: 1rem;
            color:#EC9322;
            font-weight: 700;

            &:hover{background-color: #EC9322; color:#fff;}
        }
    }
    
}

